/* -------------------------------------------------------------------------------- /
	Granth - Style switcher 
/ -------------------------------------------------------------------------------- */

/* reset */
#gw-switcher * {
	background:none;
	border:none;
	font-weight:normal;		
	margin:0;
	outline:none;		
	padding:0;
	letter-spacing:normal !important;
	text-transform:none;
	text-decoration:none !important;		
}
#gw-switcher strong { font-weight:bold; }
/* end reset */

#gw-switcher {
	background:#e1473b;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	left:-143px;	
	position:fixed;
	top:100px;
	z-index:99999;
}
#gw-switcher h1 {
	color:inherit;
	font-size:18px;
	line-height:20px;
}
.gw-switcher-header:after {
	border-top:dotted 1px #fff;	
	content:'';
	display:block;
	opacity:0.5;
	position:relative;
	height:20px;
	top:20px;
}
#gw-switcher .gw-switcher-tab {
	background:#e1473b;
	border-left-color:#FFF;
	-webkit-border-bottom-right-radius:41px;
	-webkit-border-top-right-radius:41px;	
	-moz-border-radius-topright:41px;
	-moz-border-radius-bottomright:41px;	
	border-bottom-right-radius:41px;
	border-top-right-radius:41px;
	-moz-box-shadow:0 0 20px 0px  rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 20px 0px  rgba(0,0,0,0.1);	
	box-shadow:0 0 20px 0px  rgba(0,0,0,0.1);	
	height:40px;
	position:absolute;
	text-align:center;
	width:40px;
	right:-20px;
	top:40px;
}
#gw-switcher .gw-switcher-tab:before {
	content:'';
	position:absolute;
	width:40px;
	height:80px;
	background:#e1473b;
	right:20px;
	top:-20px;
}
#gw-switcher .gw-switcher-tab a {
	background:url('../images/styleswitcher/icon.png') 0 0 no-repeat;
	display:block;
	height:40px;
	position:absolute;
	right:-4px;
	opacity:0.8;
	top:0;	
	width:44px;
}
#gw-switcher .gw-switcher-tab a:hover { opacity:1; }
#gw-switcher .gw-switcher-body {
	-moz-box-shadow:0 0 20px -2px rgba(0,0,0,0.15);
	-webkit-box-shadow:0 0 20px -2px rgba(0,0,0,0.15);
	box-shadow:0 0 20px -2px  rgba(0,0,0,0.15);
	position:relative;
	padding:20px 30px;
}
#gw-switcher .gw-switcher-row {
	color:#fff;
	font:11px/11px Arial, Geneva, sans-serif;	
	margin-top:20px;
	position:relative;
	text-align:left;
	z-index:1;
}
#gw-switcher .gw-switcher-row:first-child { margin:0; }
#gw-switcher .gw-switcher-row a { 
	color:#fff;
	display:block;
}
#gw-switcher .gw-switcher-row a span {
	background:url('../images/styleswitcher/switch.png') 0 0 repeat;
	display:inline-block;
	height:11px;
	margin-right:10px;
	position:relative;
	top:2px;
	width:21px;
}
#gw-switcher .gw-switcher-row a.go-switcher-opt-checked span { background-position:0 -10px; }
#gw-switcher .gw-switcher-row > span {
	border-bottom:solid 5px transparent;
	border-left:solid 5px transparent;
	border-right:solid 5px #CECECE;
	border-top:solid 5px transparent;	
	display:block;
	position:absolute;
	right:17px;
	top:20px;
}
@media (max-width:767px) {
	#gw-switcher { display: none; }
}