@charset "utf-8";

/* ------------------------------------------------------------------------- /
	[1] RESET - http://meyerweb.com/eric/tools/css/reset/
/ -------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* ------------------------------------------------------------------------- /
	[2]	SETUP - general settings, common classes, clearfix
/ -------------------------------------------------------------------------- */

body {
	background:#FFF;
	color:#3D3D3D;
	font:12px/20px 'Open Sans', serif;
}
a {
	color:#15b994;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#333;
	text-decoration:none;
}
b {
	color: #000;
	font-weight: 600;
}
code {font-family: monospace;
padding: 2px 4px;
color:#15b994;
background-color:#f7f7f9;
white-space: nowrap;}
pre {font-family: monospace; color: #333333; border: 1px solid #e1e1e8!important;}
pre.msg{ color:#15b994; background-color:#f7f7f9; border:none!important; padding: 4px 8px;}

.linenums li:nth-child(2n) {
	background-color:#fff !important;
}

li code {margin-bottom: 2px; display: inline-block;}
p, ul { margin-bottom:20px; }
ul li, ul li ul { padding-left:15px; }
ul.bullett > li { background:url(../images/bullet_point.png) 0 7px no-repeat; }
h1, h2 {
	line-height:32px;
	margin-bottom:20px;
}
h1 { font-size:33px; }
h2, h1 span { font-size:23px; }
h1 span {
	color:#AFB2B8;
	display:block;
	font-weight:300;
	margin-top:20px;
}
h3 {
    font-size: 16px;
    margin-bottom: 8px;
}
h5 {
    font-weight: bold;
}
.clear {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
}
.clear-space { margin-bottom:-20px !important; }
.section { clear:both; }
.separator {
	clear:both;
	border:none;
	border-bottom:solid 1px #AFB2B8;
	height:20px;
	margin:30px 0 50px;
	width:100%;
}
.first {
	clear:left;
	margin-left:0 !important;
}
.one-half {
	float:left;
	margin-left:3%;
	position:relative;
	width:48.5%;	
}
.notes {
	background:url(../images/icon.png) 0 3px no-repeat;
	padding-left:50px;
	height:50px;
}
.top {
	margin-top: 30px;
}
pre {
	margin-bottom: 20px;
}
pre strong {
    font-weight: normal;
    color: #008800;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type: decimal!important;
}
.thumbnail {
	display: inline-block;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin: 0 20px 20px 0;
	text-align: center;
}
.thumbnail img {
	width: 305px;
	height: auto;
}
.thumbnail .caption {
	padding: 9px;
	color: #555;
	font-size: 24.5px;
}

/* ------------------------------------------------------------------------- /
	[3]	LAYOUT 
/ -------------------------------------------------------------------------- */

/* wrappers & containers */
#wrapper, . wrapper {
	clear:both;
	position:relative;
	width:100%;	
}
.container {
	clear:both;
	margin:0 auto;
	width:960px;
}
.content {
	float:left;
	padding:50px 0;
	width:778px;
	position: relative;
}


/* header */
#header .container {
	background:url(../images/head.png) 0 0 no-repeat;
	height:229px;
	overflow:hidden;
}
#title {
	margin-left:216px;
	margin-top:50px;
}

/* main */
#credits {
	border-bottom:solid 1px #AFB2B8;
	float:left;
	padding:50px 0 30px;
}
#credits .container { border-left:solid 4px #AFB2B8; }
#credits p { padding-left:212px; }
/* footer */
#footer .content {
	padding:50px 0 25px;
}
#footer p {
	color:#AFB2B8;
	font-size:23px;
	line-height:30px;
	font-weight:300;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* Specify class=linenums on a pre to get line numbering */
ol {
	list-style-type: decimal;
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

/* ------------------------------------------------------------------------- /
	[4]	SCROLL TO TOP
/ -------------------------------------------------------------------------- */

#scroll-top {
	bottom:10px;
	color:#AFB2B8;
	font-size:10px;
	height:56px;
	margin-left:836px;
	position:fixed;
	text-align:center;
	width:70px;
	z-index:999;
}
#scroll-top a {
	background:url(../images/top_button_letterpress.png) 0 0 no-repeat;
	display:block;
	float:left;
	height:38px;
	margin-left:16px;
	width:37px;
}
#scroll-top:hover { color:#3D3D3D; }
#scroll-top:hover a { background-position:0 -38px; }




/* ========== */
/* = Navigation = */
/* ========== */

#mainNav {
    position: absolute;
    left: 50%;
    width: 186px;
    top: 0;
    margin-left: 390px;
}
#mainNav.fixed {
    position: fixed;
    margin-left: 299px;
}
#mainNav ul {
    background-color: #fcfcfc;
}
#mainNav ul,
#mainNav li {
    margin: 0;
    padding: 0;
}
#mainNav a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #AFB2B8;
}
#mainNav a:hover {
    background-color: #15B994;
    color: #fff;
}
